
{% extends "admin_layout.html" %}
 
    {% block content %}
    {% with messages = get_flashed_messages() %}
	{% if messages %}
	  <script>
		var messages = {{ messages | safe }};
		for (var i=0; i<messages.length; i++) {
			Swal.fire({
			title:"Error!",
			text:  messages[i],
			icon: 'error',
			confirmButtonText: 'OK',
			})
		}
	  </script>
	{% endif %}
  {% endwith %}
    <br>
    <div class="row justify-content-center ml-1 mr-1">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Queue</h2>
        </div>

        <div id="toolbar">
            <div class="form-inline" role="form">
              <div class="form-group">
                <span style="margin-right:5px ;"> From Date: </span>
                <input id="from_date" name="from_date" class="form-control w70" type="date" >
              </div>
              <div class="form-group" >
                <span style="margin-left: 20px ; margin-right:5px ;">To Date: </span>
                <input id ="to_date" name="to_date" class="form-control w70" type="date" style="margin-right: 20px ;" >
              </div>
              <div style="margin-right:10px ;"> <button id="ok_filter" type="submit" class="btn btn-primary">OK</button></div>
              <div> <button id="clear_filter" type="submit" class="btn btn-secondary">Clear</button></div>
            </div>
          </div>


    <table class='table' style="color: #6c757d; table-layout: fixed; word-wrap: break-word;" id ='table' 
    data-toggle="table"
    data-search="true"
    data-filter-control="true" 
    data-show-export="true"
    data-click-to-select="true"
    data-pagination="true"
    data-detail-view="true"
    data-detail-view-by-click="false"
    data-detail-view-icon="true"
    data-detail-formatter="detailFormatter"
    data-sort-order="desc"
    data-sort-name="queue_head"
    data-toolbar="#toolbar"
    data-auto-refresh="true"
   >
    
        <thead>
        <tr>
            
            <th  data-sortable="true" >Name</th>
            <th  data-sortable="true" >Surname</th>
            <th  data-sortable="true" data-field='queue_head' >Queue</th>
            <th data-sortable="true" >Status</th>
            <th data-sortable="true" >Pet's name</th>
            <th  data-sortable="true" >Pet's age</th>
            <th data-sortable="true" >Pet's type</th>
            <th data-sortable="true" >Camera ID</th>
            <th data-visible="false">Note</th>
            <th>Actions</th>
            
          
        </tr>
        </thead>
        <tbody>
            
            {% for i in range(table|length) %}
            <tr>
            {% for j in range(table[i]|length) %}
            {% if j!=0 %}
            <td>{{table[i][j]}}</td>
            {% endif %}
            {% endfor %}
            <td>
                <diV style="width:150px;">
                  <a id ="print{{table[i][0]}}" type="button" style="color: white;" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#printModal{{table[i][0]}}">
                    <i class="bi bi-printer"></i>
                  </a>
                  <a  id ="edit{{table[i][0]}} "type="button" style="color: white;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal{{table[i][0]}}">
                    Edit
                  </a>
                  <a  href="{{url_for('delete_row_table',id=table[i][0])}}" id ="delete{{table[i][0]}}" onclick= "return delete_confirm(this, event);" type="button" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                  </a>
                </diV>


                  <!--Edit  Modal -->
                    <div class="modal fade" id="editModal{{table[i][0]}}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" >
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">    
                                <form action="{{url_for('update_table')}}" class="signup-form"  style="color: #6c757d;" method='post' enctype="multipart/form-data" >
                                    <input type="hidden"  name="id" value="{{table[i][0]}}" />
                                    <div class="form-group mb-4">
                                        <label class="label">Name</label>
                                        <input name="name" maxlength="50" class="form-control" value="{{table[i][1]}}" required="1"/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="label" >Surname</label>
                                        <input name="surname"  maxlength="50" class="form-control" value="{{table[i][2]}}" required="1"/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="label" >Queue</label>
                                        <input name="queue" type="datetime-local" class="form-control" value="{{table[i][3].strftime('%Y-%m-%dT%H:%M')}}" required="1"/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="label" >Pet's name</label>
                                        <input  name="pet_name" maxlength="20" class="form-control" value="{{table[i][5]}}" required="1"/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="label" >Pet's type</label>
                                        <input name="pet_type" maxlength="10" class="form-control" value="{{table[i][7]}}" required="1"/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="label" >Pet's age</label>
                                        <input type="number" min= '0' max = '99'  style="color:#6c757d; border-width: 0.5px; border-radius: 5px; " name="pet_age_year"  value="{{(table[i][6].split(':'))[0]}}" required="1"/>
                                        <label class="label" >years</label>
                                        <input type="number" min= '0' max = '11'  style="color:#6c757d; border-width: 0.5px; border-radius: 5px; " name="pet_age_month" value="{{(table[i][6].split(':'))[1]}}" required="1"/>
                                        <label class="label" >months</label>
                                    </div>
                                    <div>
                                        <label class="label" style="color: red;">***Can't change camera because the token has been created.</label>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="label" >Note</label>
                                        <textarea name="note" style="color: #6c757d; width:100%; height:200px;border-radius: 5px;" >{{table[i][-1]}}</textarea>
                                    </div>
                                   
                                    <div class="modal-footer">
                                        <button type ='submit' class="btn btn-primary" >Save changes</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                   
                                </form>        
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Print Modal -->
                    <div class="modal fade" id="printModal{{table[i][0]}}" tabindex="-1" aria-labelledby="printModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="printModalLabel">Print</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id = "print_comp{{table[i][0]}}" class ='modal-body' style="display: grid; ">
                                <div style="place-self: center; margin: 10px;"><img id='qrcode' src="{{ qrcode('http://localhost:5000/login') }}"/></div>
                                    <label class="label-breakword" >Name : {{table[i][1]}}</label>
                                    <label class="label-breakword" >Surname : {{table[i][2]}}</label>
                                    <label class="label-breakword" >Queue time : {{table[i][3]}} </label>
                                    <label class="label-breakword" >Pet's name : {{table[i][5]}}</label>
                                    <label class="label-breakword" >Pet's type : {{table[i][7]}}</label>
                                    <label class="label-breakword" >Pet's age : {{table[i][6]}} (years:months)</label>
                                    <label class="label-breakword" >Camera ID : {{table[i][8]}}</label>
                                    <label class="label-breakword" >Note : {{table[i][-1]}}</label>
                            </div>
                            <div class="modal-footer">
                            <button id="print_button{{table[i][0]}}" onclick="printing(this)" type="button" class="btn btn-primary">Print</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>


            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>


    <script>
        
            //$(".form-control .search-input").append('<span class="glyphicon glyphicon-search"></span>');
            

        function delete_confirm(self,e){
            e.preventDefault();
            var urlToRedirect = e.currentTarget.getAttribute('href');
            console.log(urlToRedirect);
            Swal.fire({
                title: 'Warning!',
                text: 'Are you sure to delete?',
                icon: 'warning',
                confirmButtonText: 'Yes',
                showCancelButton: true,
                }).then(resulte => { 
                    if(resulte.isConfirmed) {
                        window.location.href = urlToRedirect;
                    }
                });
        }

        function printing(butt){
            let id_num=butt.id.replace(/[^0-9]/g,'');
            var elem = document.getElementById('print_comp'+id_num)
            var domClone = elem.cloneNode(true);
            var $printSection = document.getElementById("printSection");
            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }
            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        
        }



        function detailFormatter(index, row) {
            console.log(row)
            var html = []
            html.push('<p><b>' +"Note" + ':</b> ' + row[8] + '</p>')
            return html.join('')
        }




        $(function() {
            $('#table').bootstrapTable()
        })
        function getDates(startDate, stopDate) {
            var datetimeArray = [];
            var dateArray = [];
            var date_interval=[];
            {% for i in range(table|length) %}
                datetimeArray.push('{{table[i][3]}}');
                dateArray.push("{{table[i][3].strftime('%Y-%m-%d')}}");
            {% endfor %}
            if(!startDate && !stopDate){
                return  datetimeArray
            }

            for(let i =0;i<dateArray.length;i++){
                let date_check = new Date(dateArray[i])
                let stadate= new Date(startDate)
                let stodate= new Date(stopDate)
               
                if(date_check>=stadate && date_check<= stodate ){
                    date_interval.push(datetimeArray[i]);
                }else if(date_check>=stadate && !(stopDate)){
                    date_interval.push(datetimeArray[i]);
                }else if(date_check<= stodate && !(startDate)){
                    date_interval.push(datetimeArray[i]);
                }
            }
            return date_interval;
        }


        $('#ok_filter').click(function() {

            var $table = $('#table')
            var from = $("input[type=date][name=from_date]").val();
            var to = $("input[type=date][name=to_date]").val();
            //console.log(getDates(from, to))
            $table.bootstrapTable('filterBy', {
                queue_head: getDates(from, to)
            })
        })

        $('#clear_filter').click(function() {
            //console.log(getDates(from, to))
            var $table = $('#table')
            $('#from_date').val('')
            $('#to_date').val('')
            
            $table.bootstrapTable('filterBy', {
                queue_head: getDates(null,null)
            })
        })


      </script>
    {% endblock %}