{% extends "admin_layout.html" %}
 
    {% block content %}
  
	<section >
    <br>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Create user</h2>
				</div>
			</div>
			<div class="row justify-content-center">
			
			<div class="login-wrap p-4 p-md-5 mb-4">

            <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6 col-xl-5">
			<form action="#" class="signup-form" method='post' >
              {{form.hidden_tag()}}
		      		<div class="form-group mb-4">
		      			<label class="label" for="name">Name</label>
                {{form.name(class="form-control")}}
		      		</div>
		      		<div class="form-group mb-4">
		      			<label class="label" for="surname">Surname</label>
                {{form.surname(class="form-control")}}
		      		</div>
	            <div class="form-group mb-4">
	            	<label class="label" for="password">Password</label>
                {{form.password(class="form-control")}}
	            </div>

	            <div class="form-group mb-4">
	            	<label class="label" for="queue">Queue</label>
                {{form.queue(class="form-control",style="color:#6c757d;")}}
                {{form.queue_time(class="form-control",style="color:#6c757d;")}}
	            </div>

            </div>



            <div class="col-md-7 col-lg-6 col-xl-5">
              <div class="form-group mb-4">
	            	<label class="label" for="pet_name">Pet's name</label>
                {{form.pet_name(class="form-control")}}
	            </div>
              <div class="form-group mb-4">
	            	<label class="label" for="pet_type">Pet's type</label>
                {{form.pet_type(class="form-control")}}
	            </div>
              <div class="form-group mb-4">
	            	<label class="label" for="pet_age">Pet's age</label>
                {{form.pet_age_year(style="color:#6c757d; border-width: 0.5px; border-radius: 5px;")}}
                <label class="label" for="year">Year</label>
                {{form.pet_age_month(style="color:#6c757d; border-width: 0.5px; border-radius: 5px;")}}
                <label class="label" for="month">Month</label>
	            </div>
              
              <div class="form-group mb-4">
	            	<label class="label" for="camera_id">Camera ID</label>
                {{form.cam(style="color:#6c757d; border-width: 0.5px; border-radius: 5px;")}}
	            </div>
              <div class="form-group mb-4">
	            	<label class="label" for="note">Note : </label><br>
                {{form.note(style="color: #6c757d; width:100%; height:200px;border-radius: 5px;")}}
	            </div>
              </div>
	            <div class="form-group">
                {{form.submit(class="btn btn-secondary rounded submit p-3 btn-sm")}} 
	            </div>


	          </form>


          </div>
				  </div>
			</div>
		</div>
	</section>



  {% endblock %}

    