{% extends "admin_layout.html" %}
 
    {% block content %}
    <h1>Queue</h1>
    <div>
    <table class = 'table table-dark' id ='queue_table'>
        <thead >
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Queue</th>
            <th>Status</th>
            <th>Pet's name</th>
            <th>Pet's age</th>
            <th>Pet's type</th>
            <th>Camera ID</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
            {% for i in range(table|length) %}
            <tr>
            {% for j in range(table[i]|length -1) %}
            <td>{{table[i][j]}}</td>
            {% endfor %}
            <td >
            <button class="show" style="width: 100%;">Show</button>
            <button class="hide" style="width: 100%;">Hide</button>
            <div class="Note" id={{i}} > <textarea style="width: 100%;">{{table[i][-1]}}</textarea></div>     
            </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>
    <script>
        $(".hide,.Note").hide();
        $(".show").click(function() {
        $(this).parents('tr').find(".hide,.Note").show();
        $(this).parents('tr').find(".show").hide();
        });

        $(".hide").click(function() {
        $(this).parents('tr').find(".hide,.Note").hide();
        $(this).parents('tr').find(".show").show();
        });
    </script>
    {% endblock %}